
$color-9: #999;
$color-3: #333333;
$color-6: #666666;
$color-red: #FF0036;

ul li{
  list-style-type: none;
}

@mixin margin-padding($value-m, $value1-p){
  margin:0 $value-m;
  padding:0 $value1-p;
}

@mixin flex{
  display: flex;
  display: -webkit-flex;
}

@mixin nav-a($color-9){
  text-decoration: none;
  color: $color-9!important;//default color
  &:hover{
    color: $color-red!important;
    cursor: pointer;
    background-color: transparent!important;
    text-decoration: none;
  }
  &:active{
    color: $color-9;
    text-decoration: none;
  }
  &:visited{
    color: $color-9;
    text-decoration: none;
  }
}

body{
  background-color: #f5f5f5;
  @include margin-padding(0, 0);
}


/*navbar*/
.container-fluid.nav{
  @include margin-padding(0, 0);
  border-bottom:1px solid #e5e5e5;
  border-top:1px solid #e5e5e5;

  .container{
    @include margin-padding(-10px, 0);
    width: 1230px!important;
    min-height: 30px;
    white-space: nowrap;

    .ui.simple.dropdown{
      @include margin-padding(0, 10px);
      @include flex;
      font-size: 12px;
      align-items: center;
      color: $color-9;

      .web-menu{
        @include flex;
        padding: 20px;

        .hot a{
          &:hover{
            color: #f56a00!important;
          }
        }

        .market a{
          &:hover{
            color: #2263d4!important;
          }
        }

        .help a{
          &:hover{
            color: $color-6!important;
          }
        }

        h3{
          color: $color-6;
          margin-left: 15px;
          font-weight: 400;
        }

        >div{
          border-right: 1px solid #f1f1f1;
          padding: 10px;

          .abreast a{
            width: 80px;
          }

          &:last-child{
            border-right: none;
          }
        }
      }

      .menu{
        box-shadow: none!important;
        border-radius: 0 0 3px 3px;
        border-top: none!important;

        h5{
          @include margin-padding(5px, 11px);
          color: $color-6;
          margin-top: 10px;
        }

        .abreast{
         @include flex;
        }
      }

      .business{
        padding-bottom: 10px;
      }

      a{
        @include nav-a($color-6);
      }

      &:hover{
        color: $color-red;
        background-color: white;
      }

      .icon{
        @include flex;
        margin-left: 5px!important;
        align-items: center;
      }
    }

    a{
      @include nav-a($color-9);
      @include flex;
      @include margin-padding(0, 10px);
      font-size: 12px;
      height: 30px!important;
      align-items: center;

      &:first-child{
        padding-left: 0;
      }

      .icon{
        @include flex;
        align-items: center;
      }

      .shopping-num{
        font-size: 14px;
        font-weight: 600;
        @include margin-padding(0, 2px);
      }
    }
  }
}

/*header*/
.container-fluid.header{
  @include margin-padding(0, 0);
  background-color: white;

  .container{
    width: 1230px;
    padding: 0;
    height: 130px;
    //background-color: #f56a00;
    @include flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .logo img{
      width: 240px;
      margin-left: -30px;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .mallsearch{
      width: 625px;

      .ui.action.input{
        width: 100%;

        input{
          border: 2px solid $color-red;
          border-radius: 0;
          border-right: none;

          &:focus{
            border-right: none;
          }
        }

        .ui.button{
          background-color: $color-red;
          color: white;
          width: 132px;
          border-radius: 0;
          @include margin-padding(0, 0);
          @include flex;
          font-size: 18px;
          justify-content: center;
        }
      }

      .hot-query{
        width: 100%;
        @include flex;
        @include margin-padding(0,0);
        padding-top: 4px;

        li{
          @include margin-padding(0, 12px);
          border-right: 1px solid #e5e5e5;

          &:last-child{
            border-right: none;
          }

          a{
            @include nav-a($color-9)
          }

        }



      }

    }

  }
}

/*second menu*/
.container-fluid.second{
  @include margin-padding(0,0);
  background-color: white;

  .container{
    @include margin-padding(auto, 0);
    width: 1230px;
    height: 35px;
    font-size: 16px;
    @include flex;

    .title{
      width: 200px;
      @include flex;
      align-items: center;
      background-color: $color-red;
      height: 100%;
      color: white;

      span{
        font-weight: 800;
        margin-left: 8px;
      }

      .icon{
          margin-left: 14px;
      }
    }

    .menu{
      @include margin-padding(0,0);
      @include flex;
      align-items: center;

      a{
        @include nav-a($color-3);
        @include margin-padding(0, 8px);
        img{
          width: 100px;
        }
      }
    }
  }
}

/*ad menu*/
.container-fluid.ad{
  @include margin-padding(0,0);
  border-top: 2px solid $color-red;
  height: 500px;

  .carousel-inner img{
    height: 500px;
  }

  .container{
    width: 1230px;
    @include margin-padding(auto, 0);
    position: relative;

    .ad-menu{
      @include margin-padding(0,0);
      width: 200px!important;
      height: 100%;
      position: absolute;
      z-index: 1000;

      li a{
        color: white;
        font-size: 15px;
        width: 100%;
        height: (500px/16);
        display: inline-block;
        text-decoration: none;
        @include flex;
        align-items: center;
        background-color:black;
        opacity: 0.7;

        &:hover{
          background-color: white;
          color: $color-red;
          opacity: 1;
        }

        .icon{
          @include flex;
          align-items: center;
          margin-left: 14px;
          margin-right: 8px;

        }
      }

    }

    .menu-content{
      //display: none;
      width: 852px;
      height: 500px;
      position: absolute;
      left: 200px;
      z-index: 100;
      background-color: white;
      font-size: 14px;

      .item-list{
        position: absolute;
        @include flex;
        justify-content: space-between;

        .item-left{
          @include margin-padding(0, 20px);
          width: 852px - 209px;

          .item{
            @include flex;
            margin-top: 20px;

            .item-title{
              font-weight: 600;
              width: 90px;
            }

            .item-body{
              border-bottom: 1px solid #e5e5e5;
              padding-bottom: 13px;
              width: 852px - 209px - 90px;

              a{
                @include nav-a($color-6);
                margin-left: 13px;
                line-height: 20px;
              }
            }
          }
        }

        .item-right{
          background-color: #f9f9f9;
          padding: 10px;
          height: 500px;
          width: 209px;

          a{
            padding: 5px 10px;
            background-color: white;
            border: 1px solid #f9f9f9;
            display: inline-block;


            img{
              width: 71px;
            }
          }


        }
      }



    }

  }
}


